main{
  background-color: blanchedalmond;
}

/* HEADER */
#form_header {
  color: red;
}
#input_header {
  font-size: 1.2em;
}
#p_header {
  font-size: 1.5em;
  color: orange;
}
h1 {
  display: flex;
  justify-content: center;
}
#crheaderdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornflowerblue;
}
#crheadernav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* FOOTER */
footer {
  /* margin-top: 32px; */
  /* position: absolute; */
  /* bottom: 0; */
  width: 100vw;
}
#crfootdiv1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}
.crfootli {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
#crfootdiv1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}

.crfootli {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
/* header et footer */
.cra {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

/* planning */
table a {
  text-decoration: none;
}


td,th {
  padding: 12px 15px;
}

table th {
  background-color: rgb(235, 235, 235);
  border-color: black;
  border:black solid;
}

table td {
  text-align: center;
  border:black solid;
}
tr{
  border-bottom: 1px solid #dddddd;
  border:black ;
}

table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


}

#img {
background-image: url(../images/salle2.jpg);
background-repeat: no-repeat;
max-width: 30vh;
}

.right{
  display: flex;
 justify-content: space-evenly;
}

